* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background: #777;
  background-image:url(./images/thunderstorm-g1c1270d2e_1920.jpg) ;
  color: #fff;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }